<div id="main">
    <div class="palm-page-header multi-line">
        <div id="main-header" class="palm-page-header-wrapper">
             My 100 Pixels
        </div>
    </div>
    <div id="main-body" class="itemFull">
	   <div style="position:absolute;width:320px;font-size:14px">Loading...</div>
		<div x-mojo-element="Scroller" id="scrollerId" class="scrollerClass" name="scrollerName">
			<div id="drawarea" style="margin:0px;line-height:0px;min-height:20px"></div>
		</div>
		<div style="height:20px;padding-top:5px">
			<div x-mojo-element="ProgressBar" id="progressbarId" class="progressbarClass" name="progressbarName"></div> 
		</div>
		
		<!--<div id="proversion" style="font-size:13px"><center>If you like this app get more pixels and features with<br>the Pro version: <a href="">Click here for more information.</a></center></div>-->
			
		<!--<div id="beta"><center><b><font color="#ff0000"><br>This is beta software. Please report any problems or suggestions to <a href="mailto:100pixels@omoco.de">100pixels@omoco.de</a></font></b></center></div>-->
		<div id="debug"></div>
	</div>
</div>